<%include layout/_header%>
<div class="container">
        <div class="row">
            <%for(var i = 0; i<data.length;i++){%>
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="/uploads/<%=data[i].imageURL%>">
                    </div>
                    <div class="card-content">
                        <span class="card-title"><%=data[i].nombre%></span>
                        <p>Color: <%=data[i].color%></p>
                        <p>Para: 
                            <%if(data[i].genero==0){%>
                                Hombre
                            <%}else{%>
                                Mujer
                            <%}%>
                        </p>
                        <p>Precio: <%=data[i].precio%></p>
                        <p>En oferta: 
                            <%if(data[i].oferta==1){%>
                                Si
                            <%}else{%>
                                No
                            <%}%>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/view/<%=data[i].id%>">Vista Previa</a>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
<%include layout/_footer%>